/BasicErrorPayload.java
/BasicoConstants.java
/BasicoException.java
/BasicoMessageException.java
/BasicoNormalizer.java
/BasicoStub.java
/BasicoStubImpl.java
/BasicoValidator.java
/BlobReference.java
/Cliente.java
/CreateBulkClienteInput.java
/CreateBulkClienteOutput.java
/CreateBulkClienteResponse.java
/CreateBulkEventoInput.java
/CreateBulkEventoOutput.java
/CreateBulkEventoResponse.java
/CreateBulkItemInput.java
/CreateBulkItemOutput.java
/CreateBulkItemResponse.java
/CreateBulkPedidoInput.java
/CreateBulkPedidoOutput.java
/CreateBulkPedidoResponse.java
/CreateBulkSalaInput.java
/CreateBulkSalaOutput.java
/CreateBulkSalaResponse.java
/CreateBulkSetorInput.java
/CreateBulkSetorOutput.java
/CreateBulkSetorResponse.java
/CreateBulkTipoInput.java
/CreateBulkTipoOutput.java
/CreateBulkTipoResponse.java
/CreateClienteResponse.java
/CreateEventoResponse.java
/CreateItemResponse.java
/CreateMergeClienteResponse.java
/CreateMergeEventoResponse.java
/CreateMergeItemResponse.java
/CreateMergePedidoResponse.java
/CreateMergeSalaResponse.java
/CreateMergeSetorResponse.java
/CreateMergeTipoResponse.java
/CreatePedidoResponse.java
/CreateSalaResponse.java
/CreateSetorResponse.java
/CreateTipoResponse.java
/CredentialsProvider.java
/CredentialsProviderImpl.java
/Dependency.java
/EmailNotifyUserEventPayload.java
/ErrorStrategy.java
/ErrorType.java
/EventEmailFormat.java
/EventType.java
/Evento.java
/ExportClienteEvent.java
/ExportClienteEventPayload.java
/ExportClienteInput.java
/ExportClienteOutput.java
/ExportClienteResponse.java
/ExportConfig.java
/ExportEventStatus.java
/ExportEventoEvent.java
/ExportEventoEventPayload.java
/ExportEventoInput.java
/ExportEventoOutput.java
/ExportEventoResponse.java
/ExportItemEvent.java
/ExportItemEventPayload.java
/ExportItemInput.java
/ExportItemOutput.java
/ExportItemResponse.java
/ExportPedidoEvent.java
/ExportPedidoEventPayload.java
/ExportPedidoInput.java
/ExportPedidoOutput.java
/ExportPedidoResponse.java
/ExportSalaEvent.java
/ExportSalaEventPayload.java
/ExportSalaInput.java
/ExportSalaOutput.java
/ExportSalaResponse.java
/ExportSetorEvent.java
/ExportSetorEventPayload.java
/ExportSetorInput.java
/ExportSetorOutput.java
/ExportSetorResponse.java
/ExportTipoEvent.java
/ExportTipoEventPayload.java
/ExportTipoInput.java
/ExportTipoOutput.java
/ExportTipoResponse.java
/FieldType.java
/Fielddto.java
/FileFormat.java
/FotoOperationResult.java
/GetDateEventoInput.java
/GetDateEventoOutput.java
/GetDateEventoResponse.java
/GetDependenciesOutput.java
/GetDependenciesResponse.java
/GetMetadataInput.java
/GetMetadataOutput.java
/GetMetadataResponse.java
/GetQtdTipoInput.java
/GetQtdTipoOutput.java
/GetQtdTipoResponse.java
/GetSalasInput.java
/GetSalasOutput.java
/GetSalasResponse.java
/GetSetoresInput.java
/GetSetoresOutput.java
/GetSetoresResponse.java
/GravarFotoInput.java
/GravarFotoOutput.java
/GravarFotoResponse.java
/HelloWorldInput.java
/HelloWorldOutput.java
/HelloWorldResponse.java
/HookFunction.java
/Hookdto.java
/ImportClienteEvent.java
/ImportClienteEventPayload.java
/ImportClienteInput.java
/ImportClienteOutput.java
/ImportClienteResponse.java
/ImportConfig.java
/ImportError.java
/ImportEventStatus.java
/ImportEventoEvent.java
/ImportEventoEventPayload.java
/ImportEventoInput.java
/ImportEventoOutput.java
/ImportEventoResponse.java
/ImportItemEvent.java
/ImportItemEventPayload.java
/ImportItemInput.java
/ImportItemOutput.java
/ImportItemResponse.java
/ImportPedidoEvent.java
/ImportPedidoEventPayload.java
/ImportPedidoInput.java
/ImportPedidoOutput.java
/ImportPedidoResponse.java
/ImportReport.java
/ImportSalaEvent.java
/ImportSalaEventPayload.java
/ImportSalaInput.java
/ImportSalaOutput.java
/ImportSalaResponse.java
/ImportSetorEvent.java
/ImportSetorEventPayload.java
/ImportSetorInput.java
/ImportSetorOutput.java
/ImportSetorResponse.java
/ImportTipoEvent.java
/ImportTipoEventPayload.java
/ImportTipoInput.java
/ImportTipoOutput.java
/ImportTipoResponse.java
/InstanceMessengerSupplier.java
/Item.java
/Layoutdto.java
/ListClienteResponse.java
/ListEventoResponse.java
/ListItemResponse.java
/ListPedidoResponse.java
/ListSalaResponse.java
/ListSetorResponse.java
/ListTipoResponse.java
/NotifyUserEvent.java
/NotifyUserEventPayload.java
/ObterUrlDownloadFotoInput.java
/ObterUrlDownloadFotoOutput.java
/ObterUrlDownloadFotoResponse.java
/ObterUrlUploadFotoInput.java
/ObterUrlUploadFotoOutput.java
/ObterUrlUploadFotoResponse.java
/Pedido.java
/PushNotifyUserEventPayload.java
/RetornaEstoqueInput.java
/RetornaEstoqueOutput.java
/RetornaEstoqueResponse.java
/RetrieveClienteResponse.java
/RetrieveEventoResponse.java
/RetrieveItemResponse.java
/RetrievePedidoResponse.java
/RetrieveSalaResponse.java
/RetrieveSetorResponse.java
/RetrieveTipoResponse.java
/Sala.java
/ServiceStarted.java
/ServiceStartedPayload.java
/Setor.java
/Status.java
/Tipo.java
/UpdateClienteResponse.java
/UpdateEventoResponse.java
/UpdateItemResponse.java
/UpdateMergeClienteResponse.java
/UpdateMergeEventoResponse.java
/UpdateMergeItemResponse.java
/UpdateMergePedidoResponse.java
/UpdateMergeSalaResponse.java
/UpdateMergeSetorResponse.java
/UpdateMergeTipoResponse.java
/UpdatePedidoResponse.java
/UpdateSalaResponse.java
/UpdateSetorResponse.java
/UpdateTipoResponse.java
/UserNotificationKind.java
/UserNotificationPriority.java
/package-info.java
