<ion-header>
  <ion-toolbar>
    <ion-title>tipo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="fixed">Nome:</ion-label>
    <ion-input  [(ngModel)]="tipo.nome" #nome="ngModel" name="nome" value="{{tipo.nome}}"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Descrição:</ion-label>
    <ion-input [(ngModel)]="tipo.descricao" #descricao="ngModel" name="descricao" value="{{tipo.descricao}}">
    </ion-input>
  </ion-item>
  <ion-button (click)="save()" expand="block"> Salvar</ion-button>
</ion-content>